[worldserver]

################################################################################################################
#    Dynamic.XP.Rate
#        Description: You can setup the personal XP rate for different level ranges.
#
#        Dynamic.XP.Rate.Announce: 1 (Enable) Default
#                                  0 (Disable)
#
#        Dynamic.XP.Rate: 1 (Enable) Default
#                         0 (Disable)
#
#        Dynamic.XP.Rate.X-X: 1+ (Set a custom XP rate on that level range)
#                             0  (Reset custom XP rate to default on that level range)
#
Dynamic.XP.Rate.Announce = 1

Dynamic.XP.Rate = 1

Dynamic.XP.Rate.1-9 = 1
Dynamic.XP.Rate.10-19 = 2
Dynamic.XP.Rate.20-29 = 3
Dynamic.XP.Rate.30-39 = 4
Dynamic.XP.Rate.40-49 = 5
Dynamic.XP.Rate.50-59 = 6
Dynamic.XP.Rate.60-69 = 7
Dynamic.XP.Rate.70-79 = 8
##################################################################################################################
